body{
    margin: 0;
    padding: 0;
    background-color:#2d1e6b;
    font-family: 'Lato', 'sans-serif';
    box-sizing: border-box;
}
header{
 position: relative;
}
#navbar{
    margin: 0 auto;
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
#logo-container{
    display: flex;
    align-items: center;
    gap: 5px;
}
#logo-container i{
    width: 25px;
    height: 22px;
    font-size: 22px;
    color: wheat;
}
#nav-items{
    display: flex;
    list-style: none;
    align-items: center;
    width: 500px;
    justify-content: space-between;
    font-weight: 500;

}

#nav-items li{
    cursor: pointer;
}

#main-header{
    display: flex;
    justify-content: flex-end;
    color: white;
    position: relative;
    background-image: url('./assets/pexels-cottonbro-studio-8721340.jpg');
    mix-blend-mode:color-dodge;
    background-size: cover;
    background-repeat: no-repeat;
    height: 105vh;
  
}

#main-header .left #overview .overview-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main-header .left #overview .overview-items h4{
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}
.gradient-text{
    color: #ff00f2;
}
#main-header .left #overview .overview-items p{
    margin: 0;
    padding: 0;
    font-weight: 300;
}
#main-header .right{
    width: 90%;
    height: 100%;
}
#main-header .left{
    position: absolute;
    width: 40%;
    top: 100px;
    left: 10%;
    color: #fff;
}
#main-header .left .big-text{
    font-size: 70px;
    color: #fff;
    font-weight: 900;
}

#main-header .left #overview{
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    gap: 15px;
}
#main-header .right img{
    width: 100%;
    height: 105vh;
    margin-top: -11vh;
    mix-blend-mode:color-dodge;
    
}
.buttons{
    display: flex;
    justify-content: center;

}
.btn{
    padding: 10px 20px;
    margin: 0 10px;
    transform: skewX(-20deg);
    cursor: pointer;
    border: 1px solid greenyellow;
    background-color: transparent;
    color: white;
    font-weight: 600;
    
}
.btn1{
    background:linear-gradient(45deg, #2d1e6b, #ff00f2)
}

.band{
    width:98%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    transform: rotate(-3deg);
    background: #ffffff40;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur 4px;
    position: absolute;
    bottom: -55px;
    border: 1px solid #ffffff40;
    font-size: 24px;
    font-weight: 700;
}
.band div i{
    color: white;
    font-size: 24px;
}


